<footer>
	<div class="wrapper">
		<div class="first-third">
			<div class="social">
				<a href="http://www.youtube.com/brackeys"><img src="/img/social/youtube.png" target="_blank" alt=""></a>

				<a href="http://www.twitter.com/BrackeysTweet"><img src="/img/social/twitter.png" target="_blank" alt=""></a>

				<a href="http://www.facebook.com/brackeys"><img src="/img/social/facebook.png" target="_blank" alt=""></a>
			</div>
		</div>

		<div class="second-third">
		</div>

		<div class="third-third">
			<p>
				<a target="_blank" href="http://brackeys.com"><b>Brackeys</b></a>
				<br>
				Become a developer
			</p>
		</div>
	</div>
</footer>