<div class="wrapper">
	
	<header class="site-header">

	<div class="header-limiter">

		<div>
			<a href="/">
			<img src="/img/logo.png" alt="Brackeys Logo" width="350" height="78" border="0">
			</a>
		</div>

		<nav>
			<a href="/" {% if page.url == "/" %} class="current"{% endif %}>Home</a>

			<a href="/contact/" {% if page.url == "/contact/" %} class="current"{% endif %}>Contact</a>
			
			<a class="devassets" target="_blank" href="http://devassets.com/">Assets</a>

			<a class="patreon" href="https://patreon.com/brackeys" target="_blank">Patreon</a>

			<a class="forum" href="https://forum.brackeys.com/" target="_blank">Forum</a>

			<a class="discord" href="https://discord.gg/brackeys" target="_blank">Discord</a>

			<a href="http://old.brackeys.com/" target="_blank">Old Site</a>
		</nav>
	</div>

	</header>

</div>

