<section class="three-sections">
	<div>
		<h3>All skill levels</h3>
		<p>Whether your are just starting out or you are an experienced developer there should be a subject for you.</p>
		<a href="https://www.youtube.com/user/Brackeys/playlists?view=1&flow=grid" target="_blank">See Playlists</a>
	</div>

	<div>
		<h3>Free to watch</h3>
		<p>You can watch all the videos free of charge. We just hope you learn something!</p>
		<a href="https://youtube.com/brackeys/" target="_blank">Start Watching</a>
	</div>

	<div>
		<h3>Part of the crew</h3>
		<p>Getting in contact with fellow game developers can help you learn much faster.</p>
		<a target="_blank" href="https://discord.gg/brackeys">Join the Discord</a>
	</div>

</section>