.three-sections {
	padding-top: 30px;

	height: 190px;
}

.three-sections h3 {
	margin: 0;
}

.three-sections div {
	width: 33.333%;
	float: left;

	box-sizing: border-box;

	padding: 10px;
}

.three-sections a {
	font-size: 18px;
}